.projects-container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects-container .body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5rem;
    row-gap: 4.25rem;
}

.projects-container .body .project {
    flex-basis: 48%;
}

@media (width<=870px) {
    .projects-container .body {
        margin-top: 3.75rem;
    }
}

@media (width<=700px) {
    .projects-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .projects-container .body .project {
        width: 100%;
    }
}

@media (width<=600px) {
    .projects-container .body {
        margin-top: 2.5rem;
    }

    .projects-container .body {
        row-gap: 2.5rem;
    }
}
