.skills-container {
    border-top: 1px solid var(--white-60-);
    padding-top: 4.5rem;
    display: flex;
    flex-wrap: wrap;
    row-gap: 3.625rem;
    margin-bottom: 8.75rem;
}

.skills-container .skill {
    flex-basis: calc(100% / 3);
    cursor: pointer;
}

@media (width<=800px) {
    .skills-container {
        margin-bottom: 6.25rem;
    }
}
@media (width<=768px) {
    .skills-container .skill {
        flex-basis: calc(100% / 2);
    }
    .skills-container {
        padding-top: 3.25rem;
        row-gap: 3.25rem;
    }
}
@media (width<=400px) {
    .skills-container {
        flex-direction: column;
        align-items: center;
    }
}
