@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap");

:root {
    font-family: "Space Grotesk", sans-serif;
    text-rendering: optimizeLegibility;
    --black-60-: #111111;
    --black-30-: #232323;
    --white-60-: #ffffff;
    --white-30-: #d9d9d9;
    --white-10-: #868686;
    --accent-: #0aff9d;
}

::selection {
    background-color: var(--accent-);
    color: var(--black-30-);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.custom-mouse {
    width: 32px;
    height: 32px;
    background-color: var(--accent-);
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    z-index: 999999;
    border-radius: 50%;
}

input,
textarea {
    width: 100%;
}

input::placeholder,
textarea::placeholder {
    font-family: "Space Grotesk", Inter, system-ui, Avenir, Helvetica, Arial,
        sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: var(--white-60-);
    opacity: 50%;
}

input,
textarea {
    font-family: "Space Grotesk", Inter, system-ui, Avenir, Helvetica, Arial,
        sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: var(--white-60-);
}

body {
    background-color: var(--black-60-);
}

#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    display: block;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 1110px;
    width: 90%;
}

footer {
    background-color: var(--black-30-);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8.75rem;
    padding-top: 5.25rem;
}

footer > div {
    max-width: 1110px;
    width: 90%;
}

.nav-bottom {
    border-top: 1px solid var(--white-60-);
}

a {
    text-decoration: none;
    border: none;
    outline: none;
}

h1 {
    font-size: 5.5rem;
    line-height: 5.5rem;
    letter-spacing: -0.15625rem;
    font-weight: 700;
    color: var(--white-60-);
}

h2 {
    font-size: 3rem;
    line-height: 3.5rem;
    letter-spacing: -0.09375rem;
    font-weight: 700;
    color: var(--white-60-);
}

h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    color: var(--white-60-);
}

p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: var(--white-30-);
}

@media (hover: hover) {
    /* ----- Scrollbar Styles For Firefox ----- */
    * {
        scrollbar-color: var(--white-30-) var(--white-10-);
        scrollbar-width: thin;
    }

    *::-moz-scrollbar {
        width: 8px;
    }

    *::-moz-scrollbar-thumb {
        background-color: var(--white-30-);
        border-radius: 4px;
    }

    *::-moz-scrollbar-track {
        background-color: var(--white-10-);
    }

    /* ----- Scrollbar Styles For Other Browsers ----- */
    *::-webkit-scrollbar-track {
        border-radius: 4px;
        background-color: var(--white-10-);
    }

    *::-webkit-scrollbar {
        width: 8px;
        background-color: var(--white-10-);
    }

    *::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: var(--white-30-);
    }
}

@media (width <=768px) {
    h1 {
        font-size: 4.5rem;
    }
    footer {
        margin-top: 6.25rem;
        padding-top: 3.75rem;
    }
}

@media (width <=600px) {
    h1 {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    h2 {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    h3 {
        line-height: 1.625rem;
    }

    p {
        font-size: 1.125rem;
        line-height: 1.625rem;
    }
}
